<!-- -->
<ion-content padding class="animated fadeIn login auth-page">
  <div class="login-content">

    <!-- Logo -->
    <div padding-horizontal text-center class="animated fadeInDown">
      <div class="icon"><img src="/assets/imgs/loginlogo.png" alt=""></div>
    </div>

    <!-- Login form -->
    <form class="list-form" [formGroup]="loginForm">
      <ion-item>
        <ion-label floating>
          <ion-icon name="mail" item-start></ion-icon>
          {{ 'EMAIL' | translate }}
        </ion-label>
        <ion-input formControlName="email" type="email" name="email"></ion-input>
      </ion-item>
      <div class="formErrorDiv" *ngIf="loginForm.controls.email.errors?.required &&
      loginForm.controls.email.touched">
        {{'REQUIRED' | translate}}
      </div>
      <div class="formErrorDiv" *ngIf="!loginForm.controls.email.errors?.required && loginForm.controls.email.errors?.email &&
      loginForm.controls.email.touched">
        {{'EMAIL_INVALID' | translate}}
      </div>
      <ion-item>
        <ion-label floating>
          <ion-icon name="lock" item-start></ion-icon>
          {{ 'PASSWORD' | translate }}
        </ion-label>
        <ion-input type="password" formControlName="password" name="password"></ion-input>
      </ion-item>
      <div class="formErrorDiv" *ngIf="loginForm.controls.password.errors?.required &&
      (loginForm.controls.password.touched || loginForm.controls.password.dirty)">
        {{'REQUIRED' | translate}}
      </div>
    </form>

    <p text-right ion-text color="secondary" tappable (click)="forgotPass()"><strong>{{'FORGOT_PASSWORD' | translate}}?</strong></p>

    <div>
      <button [disabled]="!loginForm.valid" ion-button icon-start block color="purp" tappable (click)="login()">
        <ion-icon name="log-in"></ion-icon>
        {{ 'LOGIN' | translate }}
      </button>

      <p text-center ion-text color="secondary">{{'OR_SIGN_IN_WITH' | translate}}:</p>

      <ion-grid>
        <ion-row>
          <ion-col col-4>
            <button ion-button icon-only block class="btn-facebook">
              <ion-icon name="logo-facebook"></ion-icon>
            </button>
          </ion-col>
          <ion-col col-4>
            <button ion-button icon-only block class="btn-twitter">
              <ion-icon name="logo-twitter"></ion-icon>
            </button>
          </ion-col>
          <ion-col col-4>
            <button ion-button icon-only block class="btn-gplus">
              <ion-icon name="logo-googleplus"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>


    <!-- Other links -->
    <div text-center margin-top>
      <span ion-text color="secondary" tappable (click)="register()">{{"NEW_HERE_SIGN_UP" | translate}}? <strong>{{'SIGNUP'
          | translate}}</strong></span>
    </div>

  </div>
</ion-content>