<!-- -->
<ion-content padding class="animated fadeIn login auth-page">
  <div class="register-content">

    <!-- Logo -->
    <div padding-horizontal text-center>
      <div class="icon"><img src="/assets/imgs/loginlogo.png" alt=""></div>
    </div>

    <!-- Login form -->
    <form class="list-form" [formGroup]="registerForm">

      <ion-item>
        <ion-label floating>
          <ion-icon name="contact" item-start></ion-icon>
          {{ 'FIRST_NAME' | translate }}
        </ion-label>
        <ion-input type="text" formControlName="firstName"></ion-input>
      </ion-item>
      <div class="formErrorDiv" *ngIf="registerForm.controls.firstName.errors?.required &&
      registerForm.controls.firstName.touched">
        {{'REQUIRED' | translate}}
      </div>
      
      <ion-item>
        <ion-label floating>
          <ion-icon name="contact" item-start></ion-icon>
          {{ 'LAST_NAME' | translate }}
        </ion-label>
        <ion-input type="text" formControlName="lastName"></ion-input>
      </ion-item>
      <div class="formErrorDiv" *ngIf="registerForm.controls.lastName.errors?.required &&
      registerForm.controls.lastName.touched">
        {{'REQUIRED' | translate}}
      </div>

      <ion-item>
        <ion-label floating>
          <ion-icon name="calendar" item-start></ion-icon>
          {{ 'DATE_OF_BIRTH' | translate }}
        </ion-label>
        <ion-datetime displayFormat="YYYY-MM-DD" pickerFormat="YYYY MM DD" formControlName="date"></ion-datetime>
      </ion-item>
      <div class="formErrorDiv" *ngIf="registerForm.controls.date.errors?.required &&
      registerForm.controls.date.touched">
        {{'REQUIRED' | translate}}
      </div>

      <ion-item>
        <ion-label floating>
          <ion-icon name="transgender" item-start></ion-icon>
          {{'GENDER' | translate}}
        </ion-label>
        <ion-select formControlName="gender">
          <ion-option value="f">{{ 'FEMALE' | translate }}</ion-option>
          <ion-option value="m">{{ 'MALE' | translate }}</ion-option>
          <ion-option value="o">{{ 'OTHER' | translate }}</ion-option>
        </ion-select>
      </ion-item>
      <div class="formErrorDiv" *ngIf="registerForm.controls.gender.errors?.required &&
      registerForm.controls.gender.touched">
        {{'REQUIRED' | translate}}
      </div>

      <ion-item>
        <ion-label floating>
          <ion-icon name="mail" item-start></ion-icon>
          {{ 'EMAIL' | translate }}
        </ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <div class="formErrorDiv" *ngIf="registerForm.controls.email.errors?.required &&
      registerForm.controls.email.touched">
        {{'REQUIRED' | translate}}
      </div>

      <ion-item>
        <ion-label floating>
          <ion-icon name="lock" item-start></ion-icon>
          {{ 'PASSWORD' | translate }}
        </ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <div class="formErrorDiv" *ngIf="registerForm.controls.password.errors?.required &&
      registerForm.controls.password.touched">
        {{'REQUIRED' | translate}}
      </div>

      <ion-item>
        <ion-label floating>
          <ion-icon name="lock" item-start></ion-icon>
          {{ 'CONFIRM_PASSWORD' | translate }}
        </ion-label>
        <ion-input type="password" formControlName="confirmPassword"></ion-input>
      </ion-item>
      <!-- <div class="formErrorDiv" *ngIf="registerForm.controls.confirmPassword.errors?.required &&
      registerForm.controls.confirmPassword.touched">
        {{'REQUIRED' | translate}}
      </div> -->
      <div class="formErrorDiv" *ngIf="registerForm.controls.confirmPassword.errors?.notSame && (registerForm.controls.confirmPassword.touched || registerForm.controls.confirmPassword.dirty)">
        {{'MESSAGE_CONFIRM_PASSWORD' | translate}}
      </div>
      <br/>

      <ion-item>
        <ion-label>
          <ion-icon name="list" item-start></ion-icon>
          {{ 'TERMS' | translate }}.
        </ion-label>
        <ion-checkbox ng-required="true" item-right  formControlName="terms" (click)="openTerms()"></ion-checkbox>
      </ion-item>
    </form>
    <br />
    <div>
      <button [disabled]="!registerForm.valid || !registerForm.controls.terms.value"  ion-button icon-start block color="purp" tappable (click)="register()">
        {{ 'SIGNUP' | translate }}
      </button>

      <p text-center ion-text color="secondary">{{'OR_SIGN_UP_WITH' | translate}}:</p>

      <ion-grid>
        <ion-row>
          <ion-col col-4>
            <button ion-button icon-only block class="btn-facebook">
              <ion-icon name="logo-facebook"></ion-icon>
            </button>
          </ion-col>
          <ion-col col-4>
            <button ion-button icon-only block class="btn-twitter">
              <ion-icon name="logo-twitter"></ion-icon>
            </button>
          </ion-col>
          <ion-col col-4>
            <button ion-button icon-only block class="btn-gplus">
              <ion-icon name="logo-googleplus"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>


    <!-- Other links -->
    <div text-center margin-top>
      <span ion-text color="secondary" tappable (click)="login()">{{"HAVE_AN_ACCOUNT" | translate}}. <strong>{{'LOGIN'
          | translate}}</strong></span>
    </div>
    <br/>

  </div>
</ion-content>