<ion-tabs>
  <ion-tab [root]="tab2Root" tabIcon="menu"></ion-tab>
  <ion-tab [root]="tab1Root" tabIcon="locate"></ion-tab>
  <ion-tab [root]="tab3Root" tabIcon="contact"></ion-tab>
  <ion-tab [root]="tab4Root" tabIcon="settings"></ion-tab>
</ion-tabs>