<ion-header>

  <ion-navbar>
    <ion-title>EditProfile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <div *ngIf="currentProfile">

        <ion-item class="ionItem" padding-top>
          <ion-label>
            <ion-icon name="contact"></ion-icon>
          </ion-label>
          <ion-input value='{{currentProfile.firstName}} {{currentProfile.lastName}}'></ion-input>
        </ion-item>
        
        <ion-item class="ionItem" padding-top>
          <ion-label>
            <ion-icon name="calendar"></ion-icon>
          </ion-label>
          <ion-input [value]=currentProfile?.date?.toLocaleDateString()></ion-input>
        </ion-item>
        
        <ion-item class="ionItem" padding-top>
          <ion-label>
            <ion-icon item-first name="mail"></ion-icon>
          </ion-label>
          <ion-input value="{{currentProfile.email}}">
          </ion-input>
        </ion-item>
        
        <ion-item class="ionItem" padding-top>
          <ion-label>
            <ion-icon item-first name="transgender"></ion-icon>
          </ion-label>
          <ion-input value="Men">
          </ion-input>
        </ion-item>
        
        <ion-item class="ionItem" padding-top>
          <ion-label>
            <ion-icon item-first name="eye"></ion-icon>
          </ion-label>
          <ion-input value="//sport //culture //concert">
          </ion-input>
        </ion-item>
      </div>
      <br>
      <button bottom ion-button block color="primary">Save!</button>
</ion-content>
