<ion-header>

  <ion-navbar color='primary'>
    <ion-title>{{event?.location.name}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content no-padding>
  <div class="asdf" id='minimap' style="width:94%; height:30%; left: 3%; top: 2%"></div>
  <ion-row padding-top>
    <ion-col center text-center>
      <ion-note>
        <!-- <button ion-button icon-start clear small>
              <ion-icon name="contact"></ion-icon> -->
        Call a cab!
        <!-- <ion-icon name='car'> Call a cab!</ion-icon> -->
        <!-- </button> -->
      </ion-note>
    </ion-col>
    <ion-col center text-center>
      <ion-note>
        5km-re
      </ion-note>
    </ion-col>
    <ion-col center text-center>
      <ion-note (click)="navigate()">
        Navigate
      </ion-note>
    </ion-col>
  </ion-row>
  <div *ngIf="event">
    <ion-card>
      <ion-card-header text-wrap>
        <p>
          {{event.name}}
        </p>
      </ion-card-header>
      <img class="immg" width="200" height="200" [src]='event.imgurl?event.imgurl : "assets/imgs/imgalter.png"'>
      <ion-card-content>
        <ion-row>
          <ion-col center text-center>
            <ion-note>
              <!-- <button ion-button icon-start clear small>
                <ion-icon name="contact"></ion-icon> -->
              {{event.guests}} Résztvevő
              <!-- </button> -->
            </ion-note>
          </ion-col>
          <ion-col center text-center>
            <ion-note>
              {{getTimeLeft(event.startTs)}}
            </ion-note>
          </ion-col>
          <ion-col center text-center>
            <ion-note>
              Jegyvásárlás
            </ion-note>
          </ion-col>
        </ion-row>
        <ion-item text-justify text-wrap>
          <p>
            Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a
            DeLorean?! Whoa. This is heavy.Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built
            a
            time machine... out of a
            DeLorean?! Whoa. This is heavy.Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built
            a
            time machine... out of a
            DeLorean?! Whoa. This is heavy.Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built
            a
            time machine... out of a
            DeLorean?! Whoa. This is heavy.
          </p>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>