<ion-header>
        <ion-navbar>
          <ion-title text-center>
            Profile
          </ion-title>
      
          <!-- <ion-buttons end>
                <button ion-button icon-only (click)="openModal()">
                  <ion-icon name="options"></ion-icon>
                </button>
              </ion-buttons> -->
          <!-- <button ion-button (click)="logout()">LOGOUT</button> -->
        </ion-navbar>
      </ion-header>
      <ion-content padding>
        <div text-center>
          <ion-img center width="200" height="180" src="/assets/imgs/Profile-icon-9.png"></ion-img>
        </div>
        <ion-item>
          <ion-icon name="contact"></ion-icon>
          {{ 'NAME' | translate }}
          <ion-badge item-end>{{email}}</ion-badge>
        </ion-item>
      
        <ion-item>
          <ion-icon name="mail"></ion-icon>
          Email:
          <ion-badge item-end>{{email}}</ion-badge>
        </ion-item>
      
        <ion-item>
          <ion-icon name="logo-twitter"></ion-icon>
          Intresd:
          <ion-badge item-end>//sport //culture //concert</ion-badge>
        </ion-item>
      
        <ion-card>
          <ion-card-header>
            About
          </ion-card-header>
          <ion-card-content>
            Hello my name is blabla...
            <ion-item>
              <ion-icon name="logo-twitter"></ion-icon>
              Followers
              <ion-badge item-end>260k</ion-badge>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-content>