<ion-header>
  <ion-navbar color='primary'>
    <ion-title>//antihero20311</ion-title>
    <ion-buttons end>
      <button ion-button (click)="editProfile()">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding-top>
  <div text-center>
    <div class="icon"><img src="/assets/imgs/david.jpg" alt=""></div>
  </div>

  <ion-item class="ionItem">
    <ion-row no-padding no-margin>
      <ion-col text-center>
        <h6>21</h6>
        <p no-padding no-margin>posts</p>
      </ion-col>
      <ion-col text-center>
        <h6>114</h6>
        <p no-paddin no-margin>followers</p>
      </ion-col>
      <ion-col text-center (click)="followingClicked()">
        <h6>119</h6>
        <p no-paddin no-margin>following</p>
      </ion-col>
    </ion-row>
  </ion-item>
<div *ngIf="currentProfile">

  <ion-item class="ionItem" padding-top>
    <ion-label>
      <ion-icon name="contact"></ion-icon>
    </ion-label>
    <ion-input value='{{currentProfile.firstName}} {{currentProfile.lastName}}'></ion-input>
  </ion-item>
  
  <ion-item class="ionItem" padding-top>
    <ion-label>
      <ion-icon name="calendar"></ion-icon>
    </ion-label>
    <ion-input [value]=currentProfile?.date?.toLocaleDateString() [readonly]='true'></ion-input>
  </ion-item>
  
  <ion-item class="ionItem" padding-top>
    <ion-label>
      <ion-icon item-first name="mail"></ion-icon>
    </ion-label>
    <ion-input [readonly]='true' value="{{currentProfile.email}}">
    </ion-input>
  </ion-item>
  
  <ion-item class="ionItem" padding-top>
    <ion-label>
      <ion-icon item-first name="transgender"></ion-icon>
    </ion-label>
    <ion-input [readonly]='true' value="Men">
    </ion-input>
  </ion-item>
  
  <ion-item class="ionItem" padding-top>
    <ion-label>
      <ion-icon item-first name="eye"></ion-icon>
    </ion-label>
    <ion-input [readonly]='true' value="//sport //culture //concert">
    </ion-input>
  </ion-item>
  
</div>
</ion-content>