page-event-map {
    .leaflet-popup-content-wrapper{
        box-shadow: none;
        // color:white;
        text-align: center;
        width: 250px;
        opacity: 0.93;
    }
    .leaflet-popup-content{
        max-height: 300px;
        overflow: auto;
    }
    .leaflet-container a {
        // color: black;
    }
    .leaflet-popup-content::-webkit-scrollbar {
        width: 5px;
    }
    
    .leaflet-popup-content::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
        // border-radius: 10px;
    }
    
    .leaflet-popup-content::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    }

    .fap {
        z-index: 10000;
        opacity: 0.7;
        transition: width 0.3s;
    }
}
