<ion-header>

  <!-- <ion-navbar>
    <ion-title>EventMap</ion-title>
  </ion-navbar> -->
  <!-- <ion-navbar> -->

    <div>
      <ion-segment mode="md" [(ngModel)]="show" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="all">
          All
        </ion-segment-button>
        <ion-segment-button value="offical">
          Offical
        </ion-segment-button>
        <ion-segment-button value="private">
          Private
        </ion-segment-button>
      </ion-segment>
    </div>
</ion-header>


<ion-content>
      <div id='map' style="width:100%; height:100%;">
          <ion-fab class="fap" top right >
              <button ion-fab>
                <ion-icon name='options'></ion-icon>
              </button>
              <ion-fab-list side="bottom">
                <button ion-fab (click)="dateSelect()" color='primary'>
                  <ion-icon name='calendar'></ion-icon>
                </button>
                <button ion-fab (click)="categorySelect()" color='primary'>
                  <ion-icon name='apps'></ion-icon>
                </button>
              </ion-fab-list>
            </ion-fab>  
      </div>
</ion-content>
