<ion-header>

  <ion-navbar color='primary'>
    <ion-title>Setting</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <button ion-button block clear (click)="logout()">Logout</button>
</ion-content>
