<ion-header>

  <ion-navbar color='primary' text-center>
    <ion-title>Events</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name='add'></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-segment mode="md" [(ngModel)]="show" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="all">
      All
    </ion-segment-button>
    <ion-segment-button value="offical">
      Offical
    </ion-segment-button>
    <ion-segment-button value="private">
      Private
    </ion-segment-button>
  </ion-segment>
</ion-header>


<ion-content no-padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <!-- pullingIcon="arrow-dropdown"
    pullingText="Pull to refresh" -->
      <ion-refresher-content
      refreshingSpinner="circles">
    </ion-refresher-content>
    </ion-refresher>
  <div *ngIf="filteredEvents" no-padding>
    <ion-card no-padding *ngFor="let event of filteredEvents" (click)="openEvent(event)">
      <ion-card-content>
        <ion-row>
          <ion-col>
            <img class="immg" [src]='event.imgurl?event.imgurl : "assets/imgs/imgalter.png"'>
          </ion-col>
          <ion-col>
            <!-- <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a
              DeLorean?! Whoa. This is heavy.</p> -->
            <strong color="primary">{{event.location.name}}</strong>
            <p>{{event.name}}</p>
            <p>{{event.formattedDate}}</p>
          </ion-col>
        </ion-row>
      </ion-card-content>

      <ion-row>
        <ion-col center text-center>
          <!-- <ion-note> -->
            <button ion-button icon-start clear small>
              <ion-icon name="contact"></ion-icon>
              {{event.guests}} Guests
            </button>
          <!-- </ion-note> -->
        </ion-col>
        <ion-col center text-center>
          <!-- <button ion-button icon-start clear small>
            <ion-icon name="text"></ion-icon>
            <div>4 Comments</div>
          </button> -->
          <ion-note>
             5km-re
            </ion-note>
        </ion-col>
        <ion-col center text-center>
            <ion-note>
              {{getTimeLeft(event.startTs)}}
            </ion-note>
        </ion-col>
        <!-- <ion-col center text-center>
            <ion-note>
              5km-re
            </ion-note>
        </ion-col> -->
      </ion-row>
    </ion-card>
  </div>

</ion-content>